html {
   cursor: url(../img/cursor.png) , pointer;
   scroll-behavior:smooth;
}
body {
   margin: 0;
   background-image: url(../img/201.png);
}
* {
   font-family: 'Rubik Spray Paint', cursive;
}
#root {
   margin: 0;
}
